@charset "UTF-8";

/* font */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	font-size: 14px;
	line-height: 1.5;
	color: #131316;
	min-width: 1320px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #131316;
}

/* header */
header {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 20px 0;
}

.header_in {
	width: 1320px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.header_in>a img {
	display: block;
	padding: 20px;
}

header .nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
}

header .nav>li>a {
	display: block;
	font-weight: 300;
	/* background-color: #ccc; */
	padding: 30px;
}

header .nav>li:hover>a {
	color: #EB1C23;
}

header .sub {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 9999;
	display: none;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

header .sub a {
	display: block;
	padding: 40px 10px;
}

header .nav_in {
	display: flex;
	width: 1320px;
	margin: auto;
	gap: 50px;
}

header .nav_in a {
	display: block;
	font-weight: 300;
}

header .nav_in a:hover {
	color: #EB1C23;
}

/* 중앙 전체 */
.wrap {
	width: 1320px;
	margin: 0 auto 90px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


/* 상세페이지 */
.detail_wrap {
	width: 860px;
}


/* 제품 정보 */
.info {
	padding: 20px 20px 0;
}

.info h1 {
	font-size: 25px;
	font-weight: 400;
}

.info h2 {
	font-weight: 500;
	font-size: 20px;
	padding: 35px 0 8px;
	border-bottom: 1px solid #131316bf;
	margin-bottom: 14px;
}

.info ol {
	list-style: decimal inside;
}

.info .ol_in {
	padding-left: 20px;
	list-style: circle inside;
}


/* 상품 주문창 */
#product {
	width: 400px;
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
}

.right h1 {
	font-weight: 500;
	font-size: 27px;
	padding-top: 10px;
}

.right h2 {
	font-size: 24px;
	font-weight: 500;
	margin-top: 20px;
}

.right h3 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 30px;
}

.right dl {
	margin: 10px 5px;
}

.right dt {
	padding-bottom: 5px;
}

.border {
	border-bottom: 1.5px solid #131316;
	padding-bottom: 20px;
}

.selectbox {
	margin: 20px 0;
	border-collapse: collapse;
	width: 100%;
}

.selectbox th {
	text-align: left;
	font-weight: 400;
}

.selectbox th,
.selectbox td {
	padding: 10px 0;
}

.selectbox select {
	outline: none;
	width: 100%;
	padding: 10px;
}

.order {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.order li {
	flex: 1;
	text-align: center;
}

.order li a {
	border: 1px #131316 solid;
	color: #131316;
	display: block;
	padding: 20px 0;
}

.order li:nth-child(2) a {
	background-color: #131316;
	color: #fff;
}

.order li a:hover {
	background-color: rgba(19, 19, 22, 0.5);
	color: #fff;
}

/* 푸터 */
.footer {
	background-color: #131316;
	padding: 40px 0;
	color: #ccc;
}

.footer b {
	color: #fff;
}

.footer p {
	line-height: 28px;
}

.footer a {
	color: #fff;
}

.footer img {
	display: block;
	/* margin: auto; */
	padding-top: 10px;
	width: 100px;
	filter: brightness(10);
}

.footer_in {
	width: 1320px;
	margin: auto;
}

.footer_in ul {
	display: flex;
	justify-content: space-between;
}

.footer_in ul li table {
	padding: 20px 0;
}

.footer_in ul li table tr th {
	background: url(./images/call.png) no-repeat 0 48%;
	background-size: 15px;
	filter: brightness(100%);
	padding: 0 20px;
	color: #fff;
	font-weight: 300;
}

.footer_in ul li table tr td {
	padding: 5px 10px;
}

.sns_link {
	gap: 0 15px;
}

.sns_link img {
	width: 100%;
	filter: brightness(70%);
}

.sns_link a:hover img {
	filter: none;
}


/* 탑 버튼 */
.top_btn {
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 99;
	background-color: #fff;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #000;
}

.top_btn img {
	display: block;
}

.top_btn:hover {
	background-color: #EB1C23;
	border: 1px solid #EB1C23;
}

.top_btn:hover img {
	filter: brightness(1000%);
}


/* 추가 */
#product .img img {
	display: block;
	width: 400px;
	height: 476px;
}